<header [class.transparent]="scrollPosition > 50" class="header">
  <section>
    <nav class="header-navigation">
      <div (click)="openMenu()" class="mobile-menu">
        <img class="burger" [src]="menuIcon" alt="Menu Icon">
        <div class="nav-link-mobile" [ngStyle]="{'display': isMenuOpen ? 'flex' : 'none'}">
          <div class="wrapper-mobile">
            <a (click)="navigateToSection('about-me')" draggable="false">{{ 'nav.about' | translate }}</a>
            <a (click)="navigateToSection('skill-section')" draggable="false">{{ 'nav.skills' | translate }}</a>
            <a (click)="navigateToSection('projects-section')" draggable="false">{{ 'nav.projects' | translate }}</a>

            <button class="language-mobile" (click)="toggleLanguage()" (mouseover)="onHover()" (mouseleave)="onLeave()">
              <img [src]="getButtonImage()" alt="Language Button">
            </button>
          </div>
        </div>
      </div>
      <div class="nav-link-container">
        <button class="language" (click)="toggleLanguage()" (mouseover)="onHover()" (mouseleave)="onLeave()">
          <img [src]="getButtonImage()" alt="Language Button">
        </button>
        <div class="wrapper">
          <a (click)="navigateToSection('about-me')" draggable="false">{{ 'nav.about' | translate }}</a>
          <a (click)="navigateToSection('skill-section')" draggable="false">{{ 'nav.skills' | translate }}</a>
          <a (click)="navigateToSection('projects-section')" draggable="false">{{ 'nav.projects' | translate }}</a>


        </div>
      </div>
      <div class="logo">
        <div class="initials">
          <span class="M">M</span>
          <span class="M2">M</span>
        </div>
      </div>
    </nav>
  </section>
</header>
