*{
    font-family: Fira Code;
}

header {
    position: fixed;
    z-index: 10;
    top: 48px;
    padding: 0 clamp(2px, 4dvw, 96px);
    background-color: unset;
    height: 50px;
    transition: opacity 0.3s ease-in-out;

  &.transparent {
    opacity: 0.2;
  }

  &:hover {
    opacity: 1;
  }
}

button {
    background: none; 
    border: none; 
    padding: 0; 
    outline: none; 
    cursor: pointer; 

    >img {
        display: block;
    }

  }

  nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-direction: row;
  }

  nav a {
    color: white;
    transition: color 0.3s ease-in-out;
    opacity: 1;
    
    .transparent & {
      opacity: 0.2;
    }

    &:hover {
      opacity: 1;
    }
  }

  .logo {
    display: flex;
    font-weight: bold;
    font-size: 60px;
    color: #ffffff;
    animation: type 0.6s steps(10) forwards;
    margin: 0px;
    cursor: pointer;
    position: fixed;
    right: 150px;
  }
  
  .logo .char {
    display: inline-block;
    opacity: 0;
    animation: type 1s steps(1) forwards;
  }

  .logo .char:nth-child(1) {
    animation-delay: 0.1s;
  }
  
  .logo .char:nth-child(2) {
    animation-delay: 0.2s;
  }

  .initials {
    right: 180px;
    top: 20px;
    font-size: 60px;
    font-family: Fira Code;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
  }

  .M {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(0deg);
    color: rgb(61, 207, 182);
    font-size: 70px;
  }

  .M2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 60px;
  }

  .logo {
    gap: 10px;
    display: flex;
    align-items: center;
  }

  logo:hover .initials {
    color: transparent;
  }
  
  .logo:hover .M2,
  .logo:hover .M {
    transition: 500ms;
    color: transparent;
    -webkit-text-stroke: 1px #5cd1b9;
  }
  
  .logo:hover .name {
    transition: 300ms;
    color: transparent;
    -webkit-text-stroke: 1px #5cd1b9;
  }
  