<section id="about-me-desktop">
    <div class="about-me-container">
      <div class="profile-img-container" data-aos="flip-up" data-aos-duration="2000" data-aos-offset="200">
        <img class="profile-img" src="./../../assets/img/test5.jpeg" alt="">
        <img class="profile-lines" src="../../assets/img/profil.hover.png" alt="">
      </div>
  
      <div id="about-me-mobile" class="about-me-text-container" data-aos="flip-down" data-aos-duration="2000" data-aos-offset="200">
        <h2>{{ 'aboutme.title' | translate }}</h2>
        <div class="about-me-text">
          <h1>{{ 'aboutme.aboutme-title' | translate }}</h1>
          <p>{{ 'aboutme.text-one' | translate }}</p>
          <div class="text-container">
            <img src="../../assets/icons/location.png" alt="">
            <p>{{ 'aboutme.text-two' | translate }}</p>
          </div>
          <div class="text-container">
            <img src="../../assets/icons/cognition.png" alt="">
            <p>{{ 'aboutme.text-three' | translate }}</p>
          </div>
          <div class="text-container">
            <img src="../../assets/icons/quality.png" alt="">
            <p>{{ 'aboutme.text-four' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  