<section id="welcome-area">
    <div class="above-me-container">
        <div class="typing-container">
            <h2 class="typing-text">Frontend Developer</h2>
            <h1 class="typing-text">Marcel Menke</h1>
        </div>
        <div class="button-container">
            <a (click)="scrollToProjects()" class="btn text">
                <span class="text">{{ 'welcome.button' | translate }}</span>
            </a>
            <a (click)="scrollToContact()" class="btn">
                <span class="text">{{ 'welcome.button2' | translate }}</span>
            </a>
        </div>
        <div class="seperator-container-left">
            <a (click)="scrollToFooter()" class="scroll-down">
                <img src="./../../assets/icons/Vector 8.png" alt="Scroll down">
            </a>
            <div class="seperator-left"></div>
        </div>
        <div class="seperator-container-right">
            <a class="mail" href="mailto:contact@marcel-menke.info">contact&#64;marcel-menke.info</a>
            <div class="socials">
                <a class="mail-icon" href="" target="_blank"><img
                        src="./../../assets/icons/mail.png" alt=""></a>
                <a href="https://github.com/Bi7hop" target="_blank"><img src="./../../assets/icons/git.png"
                        alt=""></a>
                <a href="https://www.linkedin.com/" target="_blank"><img
                        src="./../../assets/icons/linkedin.png" alt=""></a>
            </div>
            <div class="seperator-right"></div>
        </div>
    </div>

    <div class="marquee-container">
        <div class="marquee-content">
            @for(number of [1, 2, 3, 4, 5]; track number){
            @for (item of items ; track items){
            <span class="dot">•</span>
            <span>{{ item | translate }}</span>
            }
            }
        </div>
    </div>
    
</section>