<section id="skill-section">
  <div class="skill-container">
    <div class="left-container">
      <h2>{{ 'skills.title' | translate }}</h2>
      <div class="skill-text" data-aos="flip-down" data-aos-duration="2000" data-aos-offset="200">
        <h1>{{ 'skills.skillset' | translate }}</h1>
        <div class="text-container">
          <p>{{ 'skills.text-skillset' | translate }}</p>
        </div>
        <h2>{{ 'skills.second-title' | translate }}</h2>
        <div class="text-container">
          <p>{{ 'skills.second-text' | translate }}</p>
        </div>
        <a href="#contact-section" class="btn">
          <span class="text">{{ 'skills.button' | translate }}</span>
        </a>
      </div>
    </div>

    <div class="right-container" data-aos="flip-up" data-aos-duration="2000" data-aos-offset="200">
      <div *ngFor="let skill of Frontendskills" class="">
        <div class="icon-container">
          <img [src]="skill.src" alt="{{ skill.text }}">
          <span>{{ skill.text }}</span>
        </div>
      </div>

      <div class="mindset-icon-container" (mouseenter)="showPopup()" (mouseleave)="hidePopup()">
        <div class="hover-popup" *ngIf="isPopupVisible">
          <div class="mindset-icons">
            <div>
              <span>{{ 'skills.mindset' | translate }}</span>
            </div>
            <div class="popup-icons">
              <div><img src="../../assets/icons/Frame 301.png" alt=""></div>
              <div><img src="../../assets/icons/Frame 302.png" alt=""></div>
            </div>
          </div>
        </div>
        <img src="../../assets/icons/GrowthMindset.png" alt="">
        <p>Growth Mindset</p>
      </div>
    </div>
  </div>
</section>
