<div *ngIf="showProjectInfo" class="overlay" (click)="closeProject()"></div>
<section id="projects-section">
  <div class="projects-container" data-aos="flip-up" data-aos-duration="2000" data-aos-offset="200">
    <div class="projects-title">
      <h3>{{ 'nav.projects' | translate }}</h3>
      <h1>{{ 'projects.title' | translate }}</h1>
      <p>{{ 'projects.text' | translate }}</p>
      <p>{{ 'projects.text2' | translate }}</p>
    </div>

    <div class="seperator"></div>

    <ng-container *ngFor="let project of projects">
      <article (click)="selectProject(project)" 
               class="projects projects-img width"
               (mouseenter)="hoveredImageUrl = project.imageUrl || null" 
               (mouseleave)="hoveredImageUrl = null"
               [ngStyle]="{'--hovered-image': hoveredImageUrl ? 'url(' + hoveredImageUrl + ')' : 'none'}"
               [ngClass]="{'in-development': project.inDevelopment}">
        
        <!-- Badge: nur anzeigen, wenn das Projekt in Entwicklung ist -->
        <div class="badge" *ngIf="project.inDevelopment">
          {{ 'projects.inDevelopmentBadge' | translate }}
        </div>
        
        <h2>{{ project.title }}</h2>
        <p>{{ project.techStack }}</p>
      </article>
      <div class="seperator"></div>
    </ng-container>
  </div>

  <div class="project-info" *ngIf="selectedProject">
    <div class="project-left">
      <h1>{{ selectedProject.number }}</h1>
      <h2>{{ selectedProject.title }}</h2>
      <h3>{{ selectedProject.subtitle | translate }}</h3>
      <p>{{ selectedProject.description | translate }}</p>
      <div class="project-icons">
        <div *ngFor="let technology of selectedProject.technologies">
          <img [src]="technology.iconUrl" alt="Technology icon">
        </div>
      </div>
      <div class="button-container">
        <a *ngIf="selectedProject.githubUrl" [href]="selectedProject.githubUrl" target="_blank" class="btn">
          <span class="text">Github</span>
        </a>
        <a *ngIf="selectedProject.livetestUrl" [href]="selectedProject.livetestUrl" target="_blank" class="btn">
          <span class="text">Live Test</span>
        </a>
      </div>
    </div>
    <div class="project-right">
      <div class="close-button-container">
        <button (click)="closeProject()">X</button>
      </div>
      <img [src]="selectedProject.infoUrl" alt="Project info">
      <div class="next-button-container">
        <button (click)="next($event)">
          {{ 'project-info.button' | translate }}
          <img src="../../assets/icons/projects/arrows.png" alt="Next Project">
        </button>
      </div>
    </div>
  </div>
</section>
