<section id="contact-section">
    <div class="contact-container">
      <div class="left-container">
        <div class="contact-text">
          <div>
            <h3>Contact</h3><br>
            <h1>Lets work<br> together</h1>
          </div>
          <div>
            <h3>Got a Problem to solve?</h3><br>
            <p>Contact me through the form. I am interested in hearing from you<br> knowing your ideas, and contributing to your projects with my work.</p><br>
            <p>Need a Frontend developer? <span>Let's talk!</span></p>
          </div>
        </div>
        <a href="#welcome-area" class="scroll-up">
          <img src="../../assets/icons/Vector 8.png" alt="Scroll up">
        </a>
      </div>
      <div class="right-container">
        <form class="contact-formular">
          <div class="top">
            <div class="input">
              <label for="name">Your Name</label>
              <input type="text" id="name" placeholder="Translate einfügen" autocomplete="off" required />
              <div>
                <small class="error">Please enter your name.</small>
              </div>
            </div>
            <div class="input">
              <label for="email">Your Email</label>
              <input type="email" id="email" placeholder="Translate einfügen" autocomplete="off" required />
              <div>
                <small class="error">Please enter a valid email.</small>
              </div>
            </div>
            <div class="input">
              <label for="message">Your Message</label>
              <textarea id="message" placeholder="Translate einfügen" rows="2" required></textarea>
              <div>
                <small class="error">Message must be at least 10 words long.</small>
              </div>
            </div>
          </div>
          <div class="bottom-side">
            <div class="send-contact">
              <input type="checkbox" id="check" class="checkbox" autocomplete="off" />
              <label id="label-white" for="check">Translate einfügen <a href="/privacy">Translate einfügen</a> Translate einfügen
              </label>
            </div>
            <div class="btn-container">
              <button type="submit"><span> Say Hello </span> </button>
            </div>
          </div>
        </form>
        <div class="sentmessage">
          <p>Message sent successfully!</p>
        </div>
        <div>
          <p class="error">Error message here</p>
        </div>
      </div>
    </div>
  </section>