<footer id="footer">
    <div class="footer-container">
        <div class="left-left">
            <div class="logo">
                <div class="initials">
                  <span class="M">M</span>
                  <span class="M2">M</span>
                </div>
                <div class="name">
                    Marcel Menke
                  </div>
              </div>
              
              <div class="adress">
                <p>Web Developer</p>
                <p>Steinfeld (Oldenburg) Germany</p>
              </div>
        </div>
        <div class="middle-footer">
            <span>&#169; Marcel Menke 2024</span>
        </div>
        <div class="right-footer">
            <a href="https://github.com/Bi7hop" target="_blank">Github</a>
            <a href="https://www.linkedin.com" target="_blank">LinkedIn</a> 
            <a href="mailto:marcel.menke1981@gmail.com" target="_blank">Email</a>
            <a (click)="scrollToTop()" routerLink="/imprint">Legal Notice</a>
            <a (click)="scrollToTop()" routerLink="/privacy">Privacy Policy</a>
        </div>
    </div>
</footer>