<section>
    <div class="imprint-container">
        <div class="border">
    <h1>{{'imprint.title' | translate}}</h1>
    <p>
        {{'imprint.subtitle' | translate}}
    </p>
    <p>
        Marcel Menke <br>
        Schemder Höhe 8 <br>
        49439 Steinfeld (Niedersachen)
    </p>
    <h3>
        {{'imprint.subtitle2' | translate}}
    </h3>
    <p>
        Marcel Menke
    </p>
    <h3>
        {{'imprint.contact' | translate}}
    </h3>
    <p>
        Phone: <a href="tel:+49 160 979 50 79">0160 979 50 79</a> <br>
        E-Mail: <a href="mailto:marcel.menke1981&#64;gmail.com">marcel.menke1981&#64;gmail.com</a>
    </p>
</div>
    <a href="#landing" class="back-arrow">
        <img src="../../assets/icons/backimprint.png" alt="Scroll up">
      </a>
</div>
</section>