<section>
  <div class="wrapper">
      <div class="innerprivacy">
          <h1>{{ 'PRIVACY_POLICY.TITLE' | translate }}</h1>
          <h2>{{ 'PRIVACY_POLICY.SECTION_1_TITLE' | translate }}</h2>
          <h3>{{ 'PRIVACY_POLICY.GENERAL_NOTES' | translate }}</h3>
          <p>{{ 'PRIVACY_POLICY.GENERAL_NOTES_DESCRIPTION' | translate }}</p>
          <h3>{{ 'PRIVACY_POLICY.DATA_COLLECTION' | translate }}</h3>
          <h4>{{ 'PRIVACY_POLICY.RESPONSIBLE_FOR_DATA_COLLECTION' | translate }}</h4>
          <p>{{ 'PRIVACY_POLICY.RESPONSIBLE_FOR_DATA_COLLECTION_DESCRIPTION' | translate }}</p>
          <h4>{{ 'PRIVACY_POLICY.HOW_WE_COLLECT_YOUR_DATA' | translate }}</h4>
          <p>{{ 'PRIVACY_POLICY.HOW_WE_COLLECT_YOUR_DATA_DESCRIPTION_1' | translate }}</p>
          <p>{{ 'PRIVACY_POLICY.HOW_WE_COLLECT_YOUR_DATA_DESCRIPTION_2' | translate }}</p>
          <h4>{{ 'PRIVACY_POLICY.WHAT_DO_WE_USE_YOUR_DATA_FOR' | translate }}</h4>
          <p>{{ 'PRIVACY_POLICY.WHAT_DO_WE_USE_YOUR_DATA_FOR_DESCRIPTION' | translate }}</p>
          <h4>{{ 'PRIVACY_POLICY.YOUR_RIGHTS' | translate }}</h4>
          <p>{{ 'PRIVACY_POLICY.YOUR_RIGHTS_DESCRIPTION' | translate }}</p>
          <p>{{ 'PRIVACY_POLICY.CONTACT_US' | translate }}</p>
          <h2>{{ 'PRIVACY_POLICY.HOSTING' | translate }}</h2>
          <p>{{ 'PRIVACY_POLICY.HOSTING_PROVIDER' | translate }}</p>
          <h3>{{ 'PRIVACY_POLICY.ALL_INKL' | translate }}</h3>
          <p>{{ 'PRIVACY_POLICY.ALL_INKL_DESCRIPTION' | translate }}</p>
          <h2>{{ 'PRIVACY_POLICY.SECTION_3_TITLE' | translate }}</h2>
          <h3>{{ 'PRIVACY_POLICY.DATA_PROTECTION' | translate }}</h3>
          <p>{{ 'PRIVACY_POLICY.DATA_PROTECTION_DESCRIPTION_1' | translate }}</p>
          <p>{{ 'PRIVACY_POLICY.DATA_PROTECTION_DESCRIPTION_2' | translate }}</p>
          <p>{{ 'PRIVACY_POLICY.DATA_TRANSFER_SECURITY' | translate }}</p>
          <h3>{{ 'PRIVACY_POLICY.RESPONSIBLE_AUTHORITY' | translate }}</h3>
          <p>{{ 'PRIVACY_POLICY.RESPONSIBLE_AUTHORITY_DESCRIPTION' | translate }}</p>
          <p>Marcel Menke<br />
          Schemder H&ouml;he 8<br />
          49439 Steinfeld ( Oldenburg )</p>
          <p>Telefon: 016097952079<br />
          E-Mail: marcel.menke1981&#64;gmail.com</p>
          <p>{{ 'PRIVACY_POLICY.RESPONSIBLE_AUTHORITY_INFO' | translate }}</p>
          <h3>{{ 'PRIVACY_POLICY.STORAGE_DURATION' | translate }}</h3>
          <p>{{ 'PRIVACY_POLICY.STORAGE_DURATION_DESCRIPTION' | translate }}</p>
          <h3>{{ 'PRIVACY_POLICY.LEGAL_BASIS' | translate }}</h3>
          <p>{{ 'PRIVACY_POLICY.LEGAL_BASIS_DESCRIPTION' | translate }}</p>
          <h3>{{ 'PRIVACY_POLICY.RECIPIENTS' | translate }}</h3>
          <p>{{ 'PRIVACY_POLICY.RECIPIENTS_DESCRIPTION' | translate }}</p>
          <h3>{{ 'PRIVACY_POLICY.WITHDRAWAL_OF_CONSENT' | translate }}</h3>
          <p>{{ 'PRIVACY_POLICY.WITHDRAWAL_OF_CONSENT_DESCRIPTION' | translate }}</p>
          <h3>{{ 'PRIVACY_POLICY.RIGHT_TO_OBJECT' | translate }}</h3>
          <p>{{ 'PRIVACY_POLICY.RIGHT_TO_OBJECT_DESCRIPTION' | translate }}</p>
          <h3>{{ 'PRIVACY_POLICY.COMPLAINT_RIGHT' | translate }}</h3>
          <p>{{ 'PRIVACY_POLICY.COMPLAINT_RIGHT_DESCRIPTION' | translate }}</p>
          <h3>{{ 'PRIVACY_POLICY.DATA_PORTABILITY' | translate }}</h3>
          <p>{{ 'PRIVACY_POLICY.DATA_PORTABILITY_DESCRIPTION' | translate }}</p>
          <h3>{{ 'PRIVACY_POLICY.ACCESS_CORRECTION_DELETION' | translate }}</h3>
          <p>{{ 'PRIVACY_POLICY.ACCESS_CORRECTION_DELETION_DESCRIPTION' | translate }}</p>
          <h3>{{ 'PRIVACY_POLICY.RIGHT_TO_RESTRICT' | translate }}</h3>
          <p>{{ 'PRIVACY_POLICY.RIGHT_TO_RESTRICT_DESCRIPTION' | translate }}</p>
          <ul>
              <li>{{ 'PRIVACY_POLICY.RESTRICT_REASON_1' | translate }}</li>
              <li>{{ 'PRIVACY_POLICY.RESTRICT_REASON_2' | translate }}</li>
              <li>{{ 'PRIVACY_POLICY.RESTRICT_REASON_3' | translate }}</li>
              <li>{{ 'PRIVACY_POLICY.RESTRICT_REASON_4' | translate }}</li>
          </ul>
          <p>{{ 'PRIVACY_POLICY.PROCESSING_LIMITATIONS' | translate }}</p>
          <h2>{{ 'PRIVACY_POLICY.SECTION_4_TITLE' | translate }}</h2>
          <h3>{{ 'PRIVACY_POLICY.CONTACT_FORM' | translate }}</h3>
          <p>{{ 'PRIVACY_POLICY.CONTACT_FORM_DESCRIPTION' | translate }}</p>
          <p>{{ 'PRIVACY_POLICY.DATA_STORAGE' | translate }}</p>
          <h3>{{ 'PRIVACY_POLICY.REQUEST_BY_EMAIL_PHONE_FAX' | translate }}</h3>
          <p>{{ 'PRIVACY_POLICY.REQUEST_BY_EMAIL_PHONE_FAX_DESCRIPTION' | translate }}</p>
          <p>{{ 'PRIVACY_POLICY.DATA_STORAGE_EMAIL_PHONE_FAX' | translate }}</p>
          <p>{{ 'PRIVACY_POLICY.SOURCE' | translate }}</p>
          <a href="#landing" class="back-arrow">
              <img src="../../assets/icons/backimprint.png" alt="{{ 'PRIVACY_POLICY.SCROLL_UP' | translate }}">
          </a>
      </div>
  </div>
  
  </section>